# Ignore the Conda environment directory
envs/long-read_SV_calling/

# Ignore the Snakemake working directory
.snakemake/
snakemake.log

docker_notes/
input/
references/
results/
.dockerignore
config_snakemake.yaml
config_TEST.yaml
Dockerfile
laser_dna_dv_latest.sif
snakefile_docker
snakefile_old
snakemake_dryrun.log
snakemake.log